<div *ngIf="!spin.visible()">
  <h1 class="component-header">Statusse</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>

        <th>ID</th>
        <th>Name</th>
        <th>Prio</th>
        <th>Edit</th>
      </tr>
      <tr *ngFor="let state of stateList;" [ngClass]="state.default ? 'success':'' ">

        <td>{{state.id}}</td>
        <td>{{state.name}}</td>
        <td>{{state.prio}}</td>
        <td>
          <button class="btn btn-default" routerLink="/states/{{state.id}}">
            <i class="fa fa-info" aria-hidden="true"></i> <b>Detail</b></button>
        </td>
      </tr>
    </table>
  </div>
  <h2 (click)="toggleDiv()" class="top-nomg">Neuer State <i class="fa fa-caret-down" aria-hidden="true"></i></h2>
  <div class="jQ-div-toggle">
    <label for="name-input">Name:</label><input type="text" [(ngModel)]="newState.name" autofocus id="name-input" class="form-control"/><br/>
    <li class="list-group-item">Priorität:
      <select [(ngModel)]="newState.prio">
        <option *ngFor="let prio of prios" value="{{prio}}">
          {{prio}}
        </option>
      </select>
    </li><br/>
    <button class="btn big btn-success" (click)="postState()"><i class="fa fa-plus fa-2x" aria-hidden="true"></i> <b>Anlegen</b>
    </button>
  </div>
</div>






