{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productgroups list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contents</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productGroup in productGroups %}
            <tr>
                <td><a href="{{ path('productgroup_show', { 'id': productGroup.id }) }}">{{ productGroup.id }}</a></td>
                <td>{{ productGroup.name }}</td>
                <td>{% if productGroup.contents %}{{ productGroup.contents|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productgroup_show', { 'id': productGroup.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productgroup_edit', { 'id': productGroup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productgroup_new') }}">Create a new productGroup</a>
        </li>
    </ul>
{% endblock %}
