{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productgroup</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productGroup.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ productGroup.name }}</td>
            </tr>
            <tr>
                <th>Contents</th>
                <td>{% if productGroup.contents %}{{ productGroup.contents|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productgroup_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('productgroup_edit', { 'id': productGroup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
