/****************
 * Fonts Definitions
 ****************/
@font-face {
  font-family: 'opensans';
  src: url('../assets/fonts/OpenSans-Regular-webfont.eot');
  src: url('../assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

