/****************
 * General Definitions
 ****************/
html {
  background: #cfcfcf url('../assets/img/bg.png') repeat repeat;

}

body {
  color: #333;
  font-family: 'opensans', Arial, sans-serif;
  background: #cfcfcf url('../assets/img/bg.png') repeat repeat;

}

p {
  color: #444;
}

a {
  color: @green;

  i {
    transition: all 500ms ease-in;
    position: relative;
    top: 0;
  }
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

a:hover {
  color: @green;

}

a.scrollup-link:hover i {
  top: -8px;
}

.wrapper {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  max-width: 960px;
  margin: 20px auto;
}

#landing-jurte {
  max-width: 500px;
  width: 100%;
}

h1.component-header {
  margin-top: 0;
}

.valid {
  border-color: green;
}

.color-greyblue {
  color: @greyblue;
}

.color-green {
  color: @green;
}

.navbar-brand {
  font-weight: bold;
}

span.first-letter {
  display: inline-block;
  font-size: 24px;
}

span.first-letter::first-letter {
  font-size: 32px;
}

/** Layout
 */

nav.navbar {
  position: relative;
  z-index: 10;
}

div.wrapper {
  position: relative;
 // z-index: 0;
}

footer {
  padding-right: 30px;
  position: relative;
  font-size: 10px;
  font-weight: bold;
}

#scroll-up {
  display: block;
  position: absolute;
  right: 15px;

  font-size: 32px;
}

@media (max-width: 724px) {
  #scroll-up {
    top: 10px;
  }
}

@media (min-width: 725px) {
  #scroll-up {
    top: 0px;
  }
}

.top-nomg {
  margin-top: 0 !important;
}

button.big b {
  display: inline-block;
  position: relative;
  top: -5px;
}

button.big i {
  display: inline-block;
  margin-right: 5px;
}

/**
Shopping Cart
 */

#shopping-cart i {
  position: relative;
  margin-top: -5px;
  font-size: 1.5em;
}

div.sb-price {
  display: block;
  text-align: right;
  width: 100%;
  font-size: 1.5em;
}

/** Products

 */

.jQ-div-toggle {
  display: none;
}

.product-add {
  width: 50%;
  float: left;
  z-index:10;
  display:block;
}

/* LAstminute pfixes */

.partlist {
  display:none;
}