/****************
 * Login Definitions
 ****************/
.login-panel {
  //width: 600px;
  //margin: 0 auto;
}

.login-item label {
  width: 200px;
}

.login-item .glyphicon {
  font-size: 1.1em;
  margin-left: 10px;
}

.login-item .glyphicon-ok {
  color: green;
}

.login-item .glyphicon-remove {
  color: red;
}

.btn {
  margin: 4px 3px 4px 0 !important;

}