/****************
 * Spinner Definitions
 ****************/


#spinner {
  background: url('../assets/img/gears.svg') no-repeat center center;
  width: 120px;
  height: 120px;
  position: relative;
  left: 50%;
  top: 25%;
  margin-top: -60px;
  margin-left: -60px;
}

#spinner-text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-top: 73px;
  margin-left: -200px;
  z-index: 100001;
  color: @green;
  font-weight: bold;
  display: block;
  width: 400px;
}

#spinner-text span {
  font-size: 14px;
}

#full-page-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-delay: 0ms;
  transition: all 800ms ease-out;
}

#spinner, #spinner-text {
  transition: all 800ms ease-out;
}

.fps-visible {
  #spinner, #spinner-text{
    opacity: 1;
    z-index: 200;
  }
}

.fps-notvisible {
  #spinner, #spinner-text{
    opacity: 0;
    z-index: -1;
  }
}

#full-page-spinner.fps-visible {
  background: rgba(240, 240, 252, 0.8);
  z-index:200;
}

#full-page-spinner.fps-notvisible {
  background: rgba(255, 255, 255, 0.0);
  z-index:-1;
}

#spinner-small {
  position: relative;
  top: 10px;
  font-size: 10px;
}

#full-page-spinner.fps-visible #spinner-small {
  opacity: 1;
  transition: all 5000ms cubic-bezier(1,-0.32,.57,1.04);
}

#full-page-spinner.fps-notvisible #spinner-small {
  opacity: 0;

}
