/**
Projekt Orange v 1.0
Author: Marc Ernst
**/
/****************
 * Fonts Definitions
 ****************/
@font-face {
  font-family: 'opensans';
  src: url('../assets/fonts/OpenSans-Regular-webfont.eot');
  src: url('../assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/****************
 * General Definitions
 ****************/
/* line 4, C:\_orange\angular\src\less\_general_styles.less */
html {
  background: #cfcfcf url('../assets/img/bg.png') repeat repeat;
}
/* line 9, C:\_orange\angular\src\less\_general_styles.less */
body {
  color: #333;
  font-family: 'opensans', Arial, sans-serif;
  background: #cfcfcf url('../assets/img/bg.png') repeat repeat;
}
/* line 16, C:\_orange\angular\src\less\_general_styles.less */
p {
  color: #444;
}
/* line 20, C:\_orange\angular\src\less\_general_styles.less */
a {
  color: #598f6f;
}
/* line 23, C:\_orange\angular\src\less\_general_styles.less */
a i {
  transition: all 500ms ease-in;
  position: relative;
  top: 0;
}
/* line 30, C:\_orange\angular\src\less\_general_styles.less */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}
/* line 38, C:\_orange\angular\src\less\_general_styles.less */
a:hover {
  color: #598f6f;
}
/* line 43, C:\_orange\angular\src\less\_general_styles.less */
a.scrollup-link:hover i {
  top: -8px;
}
/* line 47, C:\_orange\angular\src\less\_general_styles.less */
.wrapper {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  max-width: 960px;
  margin: 20px auto;
}
/* line 55, C:\_orange\angular\src\less\_general_styles.less */
#landing-jurte {
  max-width: 500px;
  width: 100%;
}
/* line 60, C:\_orange\angular\src\less\_general_styles.less */
h1.component-header {
  margin-top: 0;
}
/* line 64, C:\_orange\angular\src\less\_general_styles.less */
.valid {
  border-color: green;
}
/* line 68, C:\_orange\angular\src\less\_general_styles.less */
.color-greyblue {
  color: #9f9fab;
}
/* line 72, C:\_orange\angular\src\less\_general_styles.less */
.color-green {
  color: #598f6f;
}
/* line 76, C:\_orange\angular\src\less\_general_styles.less */
.navbar-brand {
  font-weight: bold;
}
/* line 80, C:\_orange\angular\src\less\_general_styles.less */
span.first-letter {
  display: inline-block;
  font-size: 24px;
}
/* line 85, C:\_orange\angular\src\less\_general_styles.less */
span.first-letter::first-letter {
  font-size: 32px;
}
/** Layout
 */
/* line 92, C:\_orange\angular\src\less\_general_styles.less */
nav.navbar {
  position: relative;
  z-index: 10;
}
/* line 97, C:\_orange\angular\src\less\_general_styles.less */
div.wrapper {
  position: relative;
}
/* line 102, C:\_orange\angular\src\less\_general_styles.less */
footer {
  padding-right: 30px;
  position: relative;
  font-size: 10px;
  font-weight: bold;
}
/* line 109, C:\_orange\angular\src\less\_general_styles.less */
#scroll-up {
  display: block;
  position: absolute;
  right: 15px;
  font-size: 32px;
}
@media (max-width: 724px) {
  /* line 118, C:\_orange\angular\src\less\_general_styles.less */
  #scroll-up {
    top: 10px;
  }
}
@media (min-width: 725px) {
  /* line 124, C:\_orange\angular\src\less\_general_styles.less */
  #scroll-up {
    top: 0px;
  }
}
/* line 129, C:\_orange\angular\src\less\_general_styles.less */
.top-nomg {
  margin-top: 0 !important;
}
/* line 133, C:\_orange\angular\src\less\_general_styles.less */
button.big b {
  display: inline-block;
  position: relative;
  top: -5px;
}
/* line 139, C:\_orange\angular\src\less\_general_styles.less */
button.big i {
  display: inline-block;
  margin-right: 5px;
}
/**
Shopping Cart
 */
/* line 148, C:\_orange\angular\src\less\_general_styles.less */
#shopping-cart i {
  position: relative;
  margin-top: -5px;
  font-size: 1.5em;
}
/* line 154, C:\_orange\angular\src\less\_general_styles.less */
div.sb-price {
  display: block;
  text-align: right;
  width: 100%;
  font-size: 1.5em;
}
/** Products

 */
/* line 165, C:\_orange\angular\src\less\_general_styles.less */
.jQ-div-toggle {
  display: none;
}
/* line 169, C:\_orange\angular\src\less\_general_styles.less */
.product-add {
  width: 50%;
  float: left;
  z-index: 10;
  display: block;
}
/* LAstminute pfixes */
/* line 178, C:\_orange\angular\src\less\_general_styles.less */
.partlist {
  display: none;
}
/****************
 * Login Definitions
 ****************/
/* line 9, C:\_orange\angular\src\less\_login.less */
.login-item label {
  width: 200px;
}
/* line 13, C:\_orange\angular\src\less\_login.less */
.login-item .glyphicon {
  font-size: 1.1em;
  margin-left: 10px;
}
/* line 18, C:\_orange\angular\src\less\_login.less */
.login-item .glyphicon-ok {
  color: green;
}
/* line 22, C:\_orange\angular\src\less\_login.less */
.login-item .glyphicon-remove {
  color: red;
}
/* line 26, C:\_orange\angular\src\less\_login.less */
.btn {
  margin: 4px 3px 4px 0 !important;
}
/****************
 * Spinner Definitions
 ****************/
/* line 6, C:\_orange\angular\src\less\_spinner.less */
#spinner {
  background: url('../assets/img/gears.svg') no-repeat center center;
  width: 120px;
  height: 120px;
  position: relative;
  left: 50%;
  top: 25%;
  margin-top: -60px;
  margin-left: -60px;
}
/* line 17, C:\_orange\angular\src\less\_spinner.less */
#spinner-text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-top: 73px;
  margin-left: -200px;
  z-index: 100001;
  color: #598f6f;
  font-weight: bold;
  display: block;
  width: 400px;
}
/* line 31, C:\_orange\angular\src\less\_spinner.less */
#spinner-text span {
  font-size: 14px;
}
/* line 35, C:\_orange\angular\src\less\_spinner.less */
#full-page-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-delay: 0ms;
  transition: all 800ms ease-out;
}
/* line 45, C:\_orange\angular\src\less\_spinner.less */
#spinner,
#spinner-text {
  transition: all 800ms ease-out;
}
/* line 50, C:\_orange\angular\src\less\_spinner.less */
.fps-visible #spinner,
.fps-visible #spinner-text {
  opacity: 1;
  z-index: 200;
}
/* line 57, C:\_orange\angular\src\less\_spinner.less */
.fps-notvisible #spinner,
.fps-notvisible #spinner-text {
  opacity: 0;
  z-index: -1;
}
/* line 63, C:\_orange\angular\src\less\_spinner.less */
#full-page-spinner.fps-visible {
  background: rgba(240, 240, 252, 0.8);
  z-index: 200;
}
/* line 68, C:\_orange\angular\src\less\_spinner.less */
#full-page-spinner.fps-notvisible {
  background: rgba(255, 255, 255, 0);
  z-index: -1;
}
/* line 73, C:\_orange\angular\src\less\_spinner.less */
#spinner-small {
  position: relative;
  top: 10px;
  font-size: 10px;
}
/* line 79, C:\_orange\angular\src\less\_spinner.less */
#full-page-spinner.fps-visible #spinner-small {
  opacity: 1;
  transition: all 5000ms cubic-bezier(1, -0.32, 0.57, 1.04);
}
/* line 84, C:\_orange\angular\src\less\_spinner.less */
#full-page-spinner.fps-notvisible #spinner-small {
  opacity: 0;
}
/* line 1, C:\_orange\angular\src\less\_modal.less */
#myModal {
  z-index: 100000;
  position: absolute;
  top: 100px;
}
/* line 7, C:\_orange\angular\src\less\_modal.less */
.modal-backdrop {
  z-index: 1;
  position: relative;
}
