<div *ngIf="!spinner.visible()">
  <h1 class="component-header">Detailansicht Produkt {{id}}</h1>
  <ul class="list-group">
    <li class="list-group-item">ID : {{id}}</li>
    <li class="list-group-item">Name : <input type="text" id="name" [(ngModel)]="current.name"/></li>
    <li class="list-group-item">Menge : <input type="text" id="amount" [(ngModel)]="current.amount"/></li>
    <li class="list-group-item">Code : <input type="text" id="code" [(ngModel)]="current.code"/></li>
    <li class="list-group-item">Status :
      <select [(ngModel)]="current.current_state.state.id">
        <option *ngFor="let state of states" value="{{state.id}}">
          {{state.name}}
        </option>
      </select></li>
  </ul>
  <button class="btn big btn-danger" (click)="deleteProduct(id)"><i class="fa fa-ban fa-2x" aria-hidden="true"></i> <b>Löschen
    (ohne Bestätigung)</b>
  </button>
  <button class="btn big btn-success" (click)="patchProduct()"><i class="fa fa-floppy-o fa-2x"
                                                                  aria-hidden="true"></i>
    <b>Speichern und zurück</b>
  </button>
  <button class="btn big btn-default" routerLink="/products"><i class="fa fa-angle-double-left fa-2x"
                                                                aria-hidden="true"></i> <b>Zurück</b>
  </button>
</div>


