{% extends 'base.html.twig' %}
{% block body %}
    <h1>Rechnungtest</h1>
    <div class="container">
        <div class="row clear-fix">
            <div class="col-md-4 pull-left">
                <div class="row">{{ booking.customer.givenname }} {{ booking.customer.lastname }}</div>
                <div class="row">{{ booking.customer.street }}</div>
            </div>
            <div class="col-md-4 pull-right">
                <div class="row">Jurtenverleih Mustermann</div>
                <div class="row">Musterstraße 1234</div>
                <div class="row">12345 Musterstadt</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md4">
                <p>Ausleihzeitraum: {{ booking.startDate | date }} - {{ booking.dueDate | date }}</p>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Artikelbezeichnung</th>
                <th>Artikelnummer</th>
                <th>Menge</th>
                <th>Einzelpreis</th>
                <th>Preis</th>
            </tr>
            </thead>
            <tbody>
            {% for bookedProduct in booking.products %}
                <tr>
                    <td>{{ bookedProduct.product.name }}</td>
                    <td>{{ bookedProduct.product.code }}</td>
                    <td>{{ bookedProduct.amount }}</td>
                    <td>{{ bookedProduct.price }}</td>
                    <td>{{ (bookedProduct.price * bookedProduct.amount) | number_format(2) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Gesamtpreis: {{ booking.totalPrice }}</p>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}