<div *ngIf="!spinner.visible()">

  <h1 class="component-header">Warenkorb</h1>

  <div *ngIf="contents.length > 0 || pgContents.length > 0">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">ID</th>
          <th>Name</th>
          <th>Menge</th>
          <!-- <th>Code</th>-->
          <th>Preis</th>
          <th>Löschen</th>
        </tr>
        <tr *ngFor="let item of pgContents; let i = index;">
          <td *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">PG#{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>(Produkgruppe)</td>
          <!--<td>{{product.price | currency:'EUR':2}}</td>-->
          <td>{{item.total_price | currency:'EUR':2}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteItemPg(i);"><i class="fa fa-minus"
                                                                                aria-hidden="true"></i> Entfernen
            </button>
          </td>
        </tr>
        <tr *ngFor="let product of contents; let i = index;">
          <td *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">C#{{product.category}}</td>
          <td>{{product.name}}</td>
          <td>{{product.amount}}</td>
          <td>{{product.price | currency:'EUR':2}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteItem(i);"><i class="fa fa-minus"
                                                                              aria-hidden="true"></i> Entfernen
            </button>
          </td>
        </tr>
      </table>
    </div>


    <label for="start_date">Anfangsdatum:</label>
    <ng2-datepicker id="start_date" class="form-control" [(ngModel)]="startDate"></ng2-datepicker>
    <br/>
    <label for="end_date">Enddatum:</label>
    <ng2-datepicker id="end_date" class="form-control" [(ngModel)]="endDate"></ng2-datepicker>
    <br/>
    <label for="comment">Kommentar:</label><input type="text" class="form-control" id="comment" name="comment"
                                                  [(ngModel)]="booking.comment"/><br/>
    <span *ngIf="dateError" class="label label-danger">Sie müssen korrekte 2 Dati angeben!</span>

    <div class="clearfix">
      <br/>
      <div class="col-sm-6">
        <button class="btn btn-success btn-block" (click)="sendOrder()">Bestellen</button>
      </div>
      <div class="col-sm-6">
        <div class="sb-price">Summe (pro Tag): {{scs.total | currency:'EUR':2}}</div>
      </div>
    </div>

  </div>
  <div *ngIf="contents.length <= 0 && pgContents.length <= 0">Ihr Warenkorb ist leer!</div>
</div>