<div *ngIf="!spin.visible()">
  <h1 class="component-header">Produkte</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Teile</th>
        <th>Preis</th>
        <th></th>
      </tr>
      <tr *ngFor="let prodGroup of prodGroups; let i = index">
        <td>{{prodGroup.name}}</td>
        <td>
          <button class="btn btn-sm btn-default" (click)="slideToggle(i);">Teileliste <i class="fa fa-caret-down" aria-hidden="true"></i></button>
          <ul class="list-group partlist partlist-{{i}}">
            <li class="list-group-item" *ngFor="let category of prodGroup.parts">
              {{category.category.name}}
              <span class="badge">Menge {{category.amount}}</span>
            </li>
          </ul>
        </td>
        <td>{{prodGroup.total_price | currency:'EUR':2}}</td>
        <td>
          <button class="btn btn-sm btn-success" (click)="shopc.addToBasketPG(prodGroup)">
            <i class="fa fa-plus"
               aria-hidden="true"></i> Zum Warenkorb
          </button>
        </td>
      </tr>
    </table>
  </div>

  <h1 class="component-header">Einzelprodukte</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">ID</th>
        <th>Name</th>
        <th>Preis</th>
        <th *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">Aktion</th>
        <th></th>
      </tr>
      <tr *ngFor="let category of categoryList;">
        <td *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.price | currency:'EUR':2}}</td>
        <td *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">
          <button class="btn btn-sm btn-default" routerLink="/categories/{{category.id}}">
            <i class="fa  fa-info" aria-hidden="true"></i> <b>Detail</b></button>
        </td>
        <td>
          <button class="btn btn-sm btn-success" (click)="shopc.addToBasket(category)">
            <i class="fa fa-plus"
               aria-hidden="true"></i> Zum Warenkorb
          </button>
        </td>
      </tr>
    </table>
  </div>
  <h2 *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])" (click)="toggleDiv()" class="top-nomg">Neues Produkt <i class="fa fa-caret-down" aria-hidden="true"></i></h2>
  <div *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])" class="jQ-div-toggle">
    <label for="categories-input">Name:</label><input type="text" [(ngModel)]="new.name" autofocus
                                                      (keyup)="keyEnter($event)" id="categories-input"/><br/>
    <label for="price-input">Preis:</label><input type="number" [(ngModel)]="new.price" autofocus
                                                  (keyup)="keyEnter($event)" id="price-input"/><br/>
    <button class="btn big btn-success" (click)="newCategory()"><i class="fa fa-plus fa-2x" aria-hidden="true"></i> <b>Anlegen</b>
    </button>
  </div>
</div>






