<div *ngIf="!spinner.visible()">
  <h2 class="top-nomg">Buchung Nr. {{id}}</h2>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Kunde</h3>
        <p><b>Name:</b> {{current.customer.givenname }} {{current.customer.lastname}}</p>
        <p><b>Firma:</b> {{current.customer.company}}</p>
        <p><b>Anschrift:</b> {{current.customer.street}}, {{current.customer.zipcode}} {{current.customer.city}}</p>
        <p><b>E-mail:</b> <a href="mailto:{{current.customer.email}}">{{current.customer.email}}</a></p>
        <p><b>Telefon:</b> {{current.customer.phone}}</p>
      </div>
      <div class="col-sm-4">
        <h3>Verleihdaten</h3>
        <p><b>Startdatum:</b> {{current.start_date | date: 'shortDate'}}</p>
        <p><b>Enddatum:</b> {{current.due_date | date: 'shortDate'}}</p>
        <p><b>Beschreibung:</b> {{current.comment}}</p>
      </div>
      <div class="col-sm-4 {{current.current_state.state.prio}}">
        <h3>Aktueller Status</h3>
        <button type="button" class="btn btn-info" (click)="editStateModal.open()"><span class="glyphicon glyphicon-pencil" ></span> <b>Status ändern</b></button>

        <p><b>{{current.current_state.state.name}}:</b> {{current.current_state.comment}}</p>
        <p><b>Datum:</b> {{current.current_state.timestamp | date: 'shortDate'}}</p>
        <p><b>User:</b> {{current.current_state.givenname}} {{current.current_state.lastname}}</p>


      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <h3>Bestellungen</h3>

        <table class="table table-hover table-striped">
          <tr>
            <th>Produkt</th>
            <th>Benötigt<!-- / Eingepackt--></th>
          </tr>
          <tr *ngFor="let category of current.categorys">
            <td>{{category.category.name}}</td>
            <td>{{category.amount}}</td>
            <!--<td><span class="label label-{{ category.id |  countProduct:category.amount}}">{{category.amount}} / {{ category.id |  countProduct:0}}</span></td>-->
          </tr>
        </table>

      </div>
      <div class="col-sm-6">

        <h3>Ausgegeben</h3><button type="button" (click)="addProductsModal.open()" class="btn btn-success" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <b>hinzufügen</b></button>

        <table class="table table-hover table-striped">
          <tr>
            <th>Produkt</th>
            <th>Anzahl</th>
            <th>Beschreibung</th>
            <th>Status</th>
            <th>Info</th>
            <th>Entfernen</th>
          </tr>
          <tr *ngFor="let product of current.products; let i = index" >
            <td>{{product.product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.product.comment | slice:0:25}}...</td>
            <td>{{product.product.current_state.state.name }}</td>
            <td><button type="button"  (click)="productStatus.open()" class="btn btn-{{product.product.current_state.state.prio}}" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> </button></td>
            <td><button type="button"  (click)="productRemove.open()" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button></td>
            <modal #productStatus>
              <modal-header>
                <button type="button" class="close" (click)="productStatus.close()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Status von Produkt Nr. {{product.product.id}}: {{product.product.name}}</h4>
              </modal-header>
              <modal-body>

                <section name="produktInfo">
                  <div class="row">
                    <div class="col-sm-6">
                      <h3>Produkt</h3>
                      <p><b>Name:</b> {{product.product.name}}</p>
                      <p><b>Code:</b> {{product.product.code}}</p>
                      <p><b>Commentar:</b> {{product.product.comment}}</p>
                    </div>
                    <div class="col-sm-6">
                      <h3>Category</h3>
                      <p><b>Name:</b> {{product.product.category.name}}</p>
                      <p><b>ID:</b> {{product.product.category.id}}</p>
                      <p><b>Preis:</b> {{product.product.category.price}}</p>
                    </div>
                  </div>
                </section>

                <section name="history">
                  <table class="table table-hover table-striped table-sortable">
                    <tr>
                      <th>Status</th>
                      <th>Kommentar</th>
                      <th>Datum</th>
                      <th>User</th>
                    </tr>
                    <tr *ngFor="let shp of product.product.state_history" class="{{shp.state.prio}}">
                      <td> {{shp.state.name}} </td>
                      <td>{{shp.comment | format : 'text'}}</td>
                      <td>{{shp.timestamp | date: 'shortDate' | format : 'date'}}</td>
                      <td>{{shp.user.givenname}} {{shp.user.lastname}}</td>
                    </tr>
                  </table>
                </section>

              </modal-body>
              <modal-footer>

                <button *ngIf="usr.isMemberOfRole(['ROLE_ADMIN'])" class="btn  btn-info" routerLink="/products/{{product.product.id}}"><span class="glyphicon glyphicon-pencil" ></span><b> Editieren</b></button>

                <button type="button" class="btn btn-success" (click)="productStatus.close()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> OK</button>

              </modal-footer>
            </modal>

            <modal #productRemove>
              <modal-header>
                <button type="button" class="close" (click)="productRemove.close()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Möchten Sie das Produkt Nr. {{product.product.id}}: {{product.product.name}} von dieser Bestellung entfernen?</h4>
              </modal-header>
              <modal-body>

                <section name="produktInfo">
                  <div class="row">
                    <div class="col-sm-6">
                      <h3>Produkt</h3>
                      <p><b>Name:</b> {{product.product.name}}</p>
                      <p><b>Code:</b> {{product.product.code}}</p>
                      <p><b>Commentar:</b> {{product.product.comment}}</p>
                    </div>
                    <div class="col-sm-6">
                      <h3>Category</h3>
                      <p><b>Name:</b> {{product.product.category.name}}</p>
                      <p><b>ID:</b> {{product.product.category.id}}</p>
                      <p><b>Preis:</b> {{product.product.category.price}}</p>
                    </div>
                  </div>
                </section>

              </modal-body>
              <modal-footer>

                <button type="button" class="btn big btn-danger" (click)="removeProduct(i);productRemove.close()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Produkt entfernen</button>
                <button type="button" class="btn btn-success" (click)="productRemove.close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Abbrechen</button>

              </modal-footer>
            </modal>

          </tr>
        </table>

      </div>
    </div>


  <button class="btn big btn-info" (click)="createBill()"><i class="fa fa-ban fa-2x" aria-hidden="true"></i> <b>Rechnung erstellen</b>
  </button>
  <button class="btn big btn-default" routerLink="/bookings"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i> <b>Zurück</b>
  </button>

</div>


  <modal #addProductsModal>
    <modal-header>
      <button type="button" class="close" (click)="cancelProducts();addProductsModal.close()" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Produkt zu Buchung Nr. {{id}} hinzufügen</h4>
    </modal-header>
    <modal-body>
      <section name="search">
        <div class="input-group">

              <span class="input-group-addon">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                <input autofocus (keyup)="searchProduct()" id="code" type="text"  [value]="code" [(ngModel)]="code" placeholder="BarCode">
                </span>
          <span class="input-group-addon">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  <input (keyup)="searchProductSuggestions()" id="name" type="text"  [value]="name" [(ngModel)]="name" placeholder="Bezeichnung">
            <!-- Suchvorschläge -->
                  <div class="suggestions" *ngIf="productSuggestions.length > 0">
                <ul *ngFor="let ps of productSuggestions" class="list-group">
                    <li class="list-group-item">
                        <a (click)="addTempProducts(ps)">{{ps.name}} {{ps.amount}}x</a>
                    </li>
                </ul>
            </div>
                </span>

        </div>


      </section>

      <section name="tempProducts">

        <table class="table table-hover table-striped">
          <tr>
            <th>Produkt</th>
            <th>Anzahl</th>
            <th>Beschreibung</th>
            <th>Status</th>
            <th>Entfernen</th>
          </tr>
          <tr *ngFor="let p of tempProducts">
            <td>{{p.name }}</td>
            <td>{{p.amount}}</td>
            <td>{{p.comment | slice:0:25}}...</td>
            <td>{{p.current_state.state.name}}</td>
            <td><button type="button" class="btn btn-danger" (click)="removeTempProducts(p)" data-dismiss="modal"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
          </tr>
        </table>
      </section>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-success" (click)="addProducts();addProductsModal.close()"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Übernehmen</button>
      <button type="button" class="btn btn-danger" (click)="cancelProducts();addProductsModal.dismiss()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> Abbrechen</button>
    </modal-footer>
  </modal>

  <modal #editStateModal>
    <modal-header>
      <button type="button" class="close" (click)="editStateModal.close()" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Status von Buchung Nr. {{id}} editieren</h4>
    </modal-header>
    <modal-body>
      <section name="newStae">



        <div class="form-group">
          <label for="newStateID"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Status:</label>
          <select class="selectpicker" id="newStateID" [(ngModel)]="newStateID" [value]="newStateID">
            <option *ngFor="let state of states" value="{{state.id}}" class="{{state.prio}}">
              {{state.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="newStateComment"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Kommentar:</label>
          <input autofocus id="newStateComment" type="text"  [value]="newStateComment" [(ngModel)]="newStateComment"  placeholder="Bei der Bestellung ist..." size="50" >
        </div>

        <button type="button" class="btn btn-success" (click)="newState();editStateModal.close()"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Übernehmen</button>
        <button type="button" class="btn btn-danger" (click)="editStateModal.dismiss()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> Abbrechen</button>

      </section>

      <section name="history">
        <table class="table table-hover table-striped table-sortable">
          <tr>
            <th>Status</th>
            <th>Kommentar</th>
            <th>Datum</th>
            <th>User</th>
          </tr>
          <tr *ngFor="let sh of current.state_history" class="{{sh.state.prio}}">
            <td> {{sh.state.name}} </td>
            <td>{{sh.comment | format : 'text'}}</td>

            <td>{{sh.timestamp | date: 'shortDate' | format : 'date'}}</td>
            <td>{{sh.user.givenname}} {{sh.user.lastname}}</td>


          </tr>
        </table>


      </section>
    </modal-body>
    <modal-footer>

    </modal-footer>
  </modal>


</div>