<h1 class="component-header">Registrieren</h1>
<div class="panel panel-default login-panel">
  <div class="panel-body">
    <div class="login-item form-group"><label for="givenname">Vorname:</label>
      <input type="text" class="form-control" name="givenname" [(ngModel)]="cred.givenname" id="givenname"/></div>

    <div class="login-item form-group"><label for="lastname">Nachname:</label>
      <input type="text" class="form-control" name="lastname" [(ngModel)]="cred.lastname" id="lastname"/></div>

    <div class="login-item form-group"><label for="company">Firma:</label>
      <input type="text" class="form-control" name="company" [(ngModel)]="cred.company" id="company"/></div>

    <div class="login-item form-group"><label for="street">Straße:</label>
      <input type="text" class="form-control" name="street" [(ngModel)]="cred.street" id="street"/></div>

    <div class="login-item form-group"><label for="zipcode">PLZ:</label>
      <input type="text" class="form-control" name="zipcode" [(ngModel)]="cred.zipcode" id="zipcode"/></div>

    <div class="login-item form-group"><label for="city">Stadt:</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="cred.city" id="city"/></div>

    <div class="login-item form-group"><label for="country">Land:</label>
      <select class="form-control" id="country" [(ngModel)]="cred.country">
        <option value="DE">Deutschland</option>
        <option value="AT">Österreich</option>
        <option value="US">United States</option>
      </select></div>

    <div class="login-item form-group"><label for="phone">Telefon:</label>
      <input type="text" name="phone" class="form-control" [(ngModel)]="cred.phone" id="phone"/></div>

    <hr/>

    <div class="login-item form-group"><label for="email">Ihre Email:</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="cred.email" id="email"/></div>

    <div class="login-item form-group"><label for="pw">Ihr Passwort:</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="cred.password" id="pw"/></div>

    <div class="login-item form-group"><label for="pw2">Ihr Passwort (wiederholen):</label>
      <span *ngIf="!checkPwEqual()" class="label label-warning">Passwort zu kurz oder nicht gleich</span>
      <span *ngIf="checkPwEqual()" class="label label-success">Passwort o.k.</span>
      <input type="password" class="form-control" name="password2" [(ngModel)]="pw2" id="pw2"/>


    </div>

    <button class="btn btn-success" (click)="doRegister();"><span class="glyphicon glyphicon-check"
                                                                  aria-hidden="true"></span> Register
    </button>

    <modal #pw_not_equal>
      <modal-header [show-close]="true">
        <!-- call: #xyz.open() -->
        <h4 class="modal-title">Passwörter stimmen nicht überein</h4>
      </modal-header>
      <modal-body>
        Bitte überprüfen Sie die Passworteingabe.
      </modal-body>
    </modal>
  </div>
</div>
