<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <router-outlet>
  </router-outlet>
</div>
<div class="wrapper">
  <footer><i class="fa fa-copyright" aria-hidden="true"></i>
    Project Orange 2017 (R.Huesmann/S.Großpersky/M.Ernst) - Fortgeschrittene Webentwicklung (D.Müller/C.Dörge/T.Sauer) - Fachbereich Informatik - h_da
  </footer>
  <div id="scroll-up">
    <a href="#" class="scrollup-link"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
  </div>
</div>
