<div *ngIf="!spinner.visible()">
  <h2 class="top-nomg">Detail</h2>
  <ul class="list-group">
    <li class="list-group-item">ID : {{id}}</li>
    <li class="list-group-item">Name : <input type="text" id="name" [value]="current.name" [(ngModel)]="current.name"/></li>
  </ul>
  <button class="btn big btn-danger" (click)="deleteCategory()"><i class="fa fa-ban fa-2x" aria-hidden="true"></i> <b>Löschen (ohne Bestätigung)</b>
  </button>
  <button class="btn big btn-success" (click)="patchCategory()"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i> <b>Speichern und zurück</b>
  </button>
  <button class="btn big btn-default" routerLink="/categories"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i> <b>Zurück</b>
  </button>
</div>


