<div *ngIf="!spin.visible()">
  <h1 class="component-header">Buchungen</h1>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-sortable">
      <tr>
        <!--<th>ID</th>-->
        <th  [class]="selectedClass('customer.lastname')" (click)="changeSorting('customer.lastname')">Kunde</th>
        <th [class]="selectedClass('customer.company')" (click)="changeSorting('customer.company')">Firma</th>
        <th  [class]="selectedClass('start_date')" (click)="changeSorting('start_date')">Start Datum</th>
        <th  [class]="selectedClass('due_date')" (click)="changeSorting('due_date')">End Datum</th>
        <th  [class]="selectedClass('booking.current_state.state.name')" (click)="changeSorting('booking.current_state.state.name')">Status</th>
          <th>Edit</th>
      </tr>
      <tr *ngFor="let booking of bookingList | orderBy : convertSorting()" class="{{booking.current_state.state.prio}}">
        <!--<td>{{booking.id}}</td>-->
        <td>{{booking.customer.lastname | format : 'text'}} {{booking.customer.givenname}}</td>
        <td>{{booking.customer.company | format : 'text'}}</td>
        <td>{{booking.start_date | date: 'shortDate' | format : 'date'}}</td>
        <td>{{booking.due_date | date: 'shortDate' | format : 'date'}}</td>
        <td> {{booking.current_state.state.name | slice:0:20}} </td>
        <td>
          <button class="btn btn-default" routerLink="/bookings/{{booking.id}}">
            <i class="fa  fa-info" aria-hidden="true"></i> <b>Detail</b></button>
        </td>
      </tr>
    </table>
  </div>
  <!--
  <h2 (click)="toggleDiv()" class="top-nomg">Neue Kategorie <i class="fa fa-caret-down" aria-hidden="true"></i></h2>
  <div class="jQ-div-toggle">
    <input type="text" [(ngModel)]="new.name" autofocus (keyup)="keyEnter($event)" id="categories-input"/><br/>
    <button class="btn big btn-success" (click)="newCategory()"><i class="fa fa-plus fa-2x" aria-hidden="true"></i> <b>Anlegen</b>
    </button>
  </div>
  -->

</div>
