<h1 class="component-header">Einloggen</h1>
<div class="panel panel-default login-panel">
  <div class="panel-body">
    <form >
      <div class="login-item"><label for="email">Ihre E-Mail:</label><input type="text" name="email"
                                                                            [(ngModel)]="loginCredentials.email"
                                                                            id="email"/></div>
      <div class="login-item"><label for="password">Ihr Passwort:</label><input type="password" name="password"
                                                                                [(ngModel)]="loginCredentials.password"
                                                                                id="password"
      /></div>
      <button class="btn btn-success" (click)="doLogin()"><span class="glyphicon glyphicon-ok-sign"
                                                                aria-hidden="true"></span> Einloggen
      </button>
      <span *ngIf="loginError" class="label label-danger">Sie haben falsche Daten eingegeben!</span>

    </form>
  </div>
</div>
