<div *ngIf="!spinner.visible()">
  <h1 class="component-header">Produkte</h1>
  <!--<div class="form-group"><label for="search">Suche: </label><input type="search" id="search" class="form-control"-->
                                                                    <!--(keyup)="getProducts()" [(ngModel)]="searchText"/>-->
    <!--  <button class="btn btn-info" (click)="getProducts()">Suchen</button>
  </div>-->

  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">ID</th>
        <th>Name</th>
        <th *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">Menge</th>
        <th>Code</th>
        <th>Status</th>
        <th *ngIf="usr.isMemberOfRole(['ROLE_ADMIN'])">Aktion</th>
      </tr>
      <tr *ngFor="let product of products;">

        <td *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">{{product.id}}</td>
        <td>{{product.name}}</td>
        <td *ngIf="usr.isMemberOfRole(['ROLE_ADMIN', 'ROLE_STAFF'])">{{product.amount}}</td>
        <td>{{product.code}}</td>
        <td>{{product.current_state.state.name}}</td>
        <td *ngIf="usr.isMemberOfRole(['ROLE_ADMIN'])">
          <button class="btn btn-xs btn-default" routerLink="/products/{{product.id}}">
            <i class="fa fa-pencil"
               aria-hidden="true"></i>
            <b>Editieren</b></button>
        </td>

      </tr>
    </table>
  </div>
  <h2 (click)="toggleDiv()">Hinzufügen <i
    class="fa fa-caret-down" aria-hidden="true"></i></h2>
  <div *ngIf="usr.isMemberOfRole(['ROLE_ADMIN'])">
    <div class="jQ-div-toggle">
      <div class="form-group"><label for="name">Name: </label><input class="form-control" type="text" id="name"
                                                                     [(ngModel)]="newProd.name"/></div>
      <div class="form-group"><label for="code">Code: </label><input class="form-control" type="text" id="code"
                                                                     [(ngModel)]="newProd.code"/></div>
      <div class="form-group"><label for="amount">Menge: </label><input class="form-control" type="number" id="amount"
                                                                        [(ngModel)]="newProd.amount"/></div>
      <!-- <div class="form-group"><label for="price">Preis: </label><input class="form-control" type="number" id="price"
                                                                        [(ngModel)]="newProd.price"/></div> -->
    </div>
    <div class="jQ-div-toggle">
      <h2>Kategorie (Pflicht)</h2>
      <div class="btn-group-horizontal" role="group" aria-label="category">
        <button class="btn" [ngClass]="{'btn-info': cat.id == current_id}" *ngFor="let cat of categories"
                (click)="selectCategory(cat.id)">{{cat.name}}
        </button>
      </div>
      <button class="btn btn-success" (click)="postProduct()">Hinzufügen</button>
    </div>
  </div>
</div>