<h1 class="component-header">Willkommen lieber Kunde.</h1>
<p>
  Willkommen auf der Webseite des JurtenVerleih.<br/>Bitte nutzen Sie unsere <a routerLink="categories">Produktauswahl</a>
  um ihre gewünschten Produktgruppen und Produkte dem <a routerLink="cart">Warenkorb</a> hinzuzufügen.</p>
<p>Viel Spaß und wir freuen uns auf gute Zusammenarbeit.<br/>
  <b>Ihr Team vom Jurtenverleih</b></p>

<div style="max-height: 375px;"><img src="../../assets/img/jurte.jpg" id="landing-jurte"
                                     alt="(c) http://www.jurtenland.de/"/></div>

