<div *ngIf="!spinner.visible()">
  <h1 class="component-header">Benutzermenü</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>E-Mail</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Rollen</th>
        <th>Aktion</th>
      </tr>
      <tr *ngFor="let customer of customerList;" [ngClass]="{'info': (customer.type == 'staff')}">
        <td>{{customer.id}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.givenname}}</td>
        <td>{{customer.lastname}}</td>
        <td>{{customer.roles}}</td>
        <td>
          <button class="btn big btn-default" routerLink="/customers/{{customer.id}}"><i class="fa fa-2x fa-pencil"
                                                                                         aria-hidden="true"></i>
            <b>Editieren</b></button>
        </td>
      </tr>
    </table>
  </div>
</div>


