<!--  Spinner Part of NavBar BEGIN -->
<div id="full-page-spinner" [ngClass]="{'fps-visible': spinner.visible(), 'fps-notvisible': !spinner.visible()}">
  <div id="spinner"></div>
  <div id="spinner-text">
    <span>{{spinner.text}}</span>
    <div id="spinner-small"><i class="fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i><br/>
      Wenn dieser Text länger besteht,<br/>ist wahrscheinlich etwas schiefgelaufen!
      <br/><a href="/" (click)="reload()">Seite neuladen ...</a>
    </div>
  </div>

</div>
<!--  Spinner Part of NavBar END -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><span class="first-letter color-green">Jurten</span><span
        class="first-letter color-greyblue">Verleih</span> {{ version }}</a>
      <span *ngIf="auth.loggedIn()" class="label label-default">On</span>
      <span *ngIf="usr.isMemberOfRole(['ROLE_ADMIN'])" class="label label-danger">Admin</span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a *ngIf="!auth.loggedIn()" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a *ngIf="!auth.loggedIn()" routerLink="register" routerLinkActive="active">Registrierung</a>
        </li>
        <li>
          <a *ngIf="auth.loggedIn()" routerLink="categories" routerLinkActive="active">Produkte</a>
        </li>

      </ul>
      <!-- RECHTS -->
      <ul *ngIf="auth.loggedIn()" class="nav navbar-nav navbar-right">
        <li class="dropdown" *ngIf="auth.loggedIn() && usr.isMemberOfRole(['ROLE_ADMIN'])">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Administrator <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a *ngIf="auth.loggedIn() && usr.isMemberOfRole(['ROLE_ADMIN'])" routerLink="/products"
                 routerLinkActive="active"
                 (click)="spinner.activate('Lade Produktliste ...')">Produktstückliste</a>
            </li>
            <li>
              <a *ngIf="auth.loggedIn() && usr.isMemberOfRole(['ROLE_ADMIN'])" routerLink="/bookings"
                 routerLinkActive="active"
                 (click)="spinner.activate('Lade Buchungen ...')">Buchungen</a>
            </li>
            <li>
              <a *ngIf="auth.loggedIn() && usr.isMemberOfRole(['ROLE_ADMIN'])" routerLink="/states"
                 routerLinkActive="active"
                 (click)="spinner.activate('Lade Statusse ...')">Statusse</a>
            </li>
            <li>
              <a *ngIf="auth.loggedIn() && usr.isMemberOfRole(['ROLE_ADMIN'])" routerLink="/productgroups"
                 routerLinkActive="active"
                 (click)="spinner.activate('Lade Produktgruppen ...')">Produktgruppen</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a *ngIf="auth.loggedIn() && usr.isMemberOfRole(['ROLE_ADMIN'])" routerLink="/customers"
                 routerLinkActive="active"
                 (click)="spinner.activate('Lade Customers ...')">Benutzer</a>
            </li>
          </ul>

        <li>
          <a routerLink="cart" routerLinkActive="active" id="shopping-cart"> <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="label label-danger">{{ scs.count }}</span></a>
        </li>
        <li>
          <a *ngIf="auth.loggedIn()" routerLink="profile" routerLinkActive="active" id="profile">Profil</a>
        </li>

        <li><a href="#" (click)="doLogOut()">Ausloggen</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>