<div *ngIf="!spinner.visible()">
  <h2 class="top-nomg">Detail</h2>
  <ul class="list-group">
    <li class="list-group-item">ID : {{id}}</li>
    <li class="list-group-item">Name : <input type="text" id="name" [value]="stateMod.name" [(ngModel)]="stateMod.name"/></li>
    <li class="list-group-item">Priorität:
      <select [(ngModel)]="stateMod.prio">
        <option *ngFor="let prio of prios" value="{{prio}}">
          {{prio}}
        </option>
      </select>
    </li>
  </ul>
  <div class="checkbox">
    <label>
      <input #defaultcb type="checkbox" (change)="default = defaultcb.checked"> Neuer Standardstatus
    </label>
  </div>

  <button class="btn big btn-danger" (click)="deleteState()"><i class="fa fa-ban fa-2x" aria-hidden="true"></i> <b>Löschen (ohne Bestätigung)</b>
  </button>
  <button class="btn big btn-success" (click)="patchState()"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i> <b>Speichern und zurück</b>
  </button>
  <button class="btn big btn-default" routerLink="/states"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i> <b>Zurück</b>
  </button>
</div>



