<div *ngIf="!spinner.visible()">
  <h1 class="component-header">Produktgruppen</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>

        <th>ID</th>
        <th>Name</th>
        <th>Parts</th>
        <!--<th>Edit</th>-->
      </tr>
      <tr *ngFor="let prodGroup of prodGroups;">

        <td>{{prodGroup.id}}</td>
        <td>{{prodGroup.name}}</td>
        <td>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of prodGroup.parts">
              {{category.category.name}}
              <span class="badge">Menge {{category.amount}}</span>
            </li>
          </ul>
        </td>
        <!--<td>-->
          <!--<button class="btn btn-default" routerLink="/productgroups/{{prodGroup.id}}">-->
            <!--<i class="fa fa-info" aria-hidden="true"></i> <b>Detail</b></button>-->
        <!--</td>-->
      </tr>
    </table>
  </div>
  <h2 (click)="toggleDiv()" class="top-nomg">Neue Produktgruppe <i class="fa fa-caret-down" aria-hidden="true"></i></h2>
  <div class="jQ-div-toggle clearfix">
    <label for="name-input">Name:</label><input type="text" [(ngModel)]="newPG.name" autofocus
                                                id="name-input" class="form-control"/><br/>
    <div class="col-sm-6">
      <h2>Produktgruppen Teile</h2>
      <div class="list-group">
        <button type="button" class="list-group-item" *ngFor="let part of parts; let i = index;" (click)="addToParts(i)">
          {{part.name}} <span class="badge">{{part.amount}}</span></button>
      </div>
      <button class="btn btn-block btn-warning" (click)="clearParts()"><i class="fa fa-trash" aria-hidden="true"></i>
        <b>Liste löschen</b>
      </button>
    </div>
    <div class="col-sm-6">
      <h2>Alle Kategorien</h2>
      <div class="list-group">
        <button type="button" class="list-group-item" *ngFor="let cat of categories; let i = index;" (click)="addToParts(i)">{{cat.name}}</button>
      </div>
    </div>
    <button class="btn btn-block btn-success" (click)="postProductGroup()"><i class="fa fa-plus" aria-hidden="true"></i>
      <b>Anlegen</b>
    </button>
  </div>
</div>






