<h1 class="component-header">Profil für {{user.email}}</h1>
<p>
  Name : {{user.email}}<br/>
  Typ : {{user.type}}
</p>
<p>
  <label for="old-pw">Altes Passwort:</label>
  <input [(ngModel)]="newData.old_password" type="password" class="form-control" id="old-pw"/><br/>

  <label for="new-pw">Neues Passwort:</label>
  <input [(ngModel)]="newData.password" type="password" class="form-control" id="new-pw"/><br/>

  <label for="new-pw-check">Neues Passwort (wiederholen):</label>
  <input type="password" class="form-control" id="new-pw-check"/><br/>

  <button class="btn btn-success" (click)="changePassword()">Ändern</button>
</p>
