<div *ngIf="!spinner.visible()">
  <h1 class="component-header">Detailansicht Benutzer {{id}}</h1>
  <ul class="list-group">
    <li class="list-group-item">ID : {{id}}</li>
    <li class="list-group-item">Email : {{current.email}}</li>
    <li class="list-group-item">Vorname : <input type="text" id="given_name" [(ngModel)]="current.givenname"/></li>
    <li class="list-group-item">Name : <input type="text" id="lastname" [(ngModel)]="current.lastname"/></li>
    <li class="list-group-item">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rechte
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let role of possible_roles;">
            <input type="checkbox" name="{{role}}" id="{{role}}"
                   [checked]="current.roles.indexOf(role) > -1"
                   (click)="toggleSelection(role);"
            />{{role}}
          </li>
        </ul>
      </div>
    </li>

  </ul>
  <button class="btn big btn-success" (click)="patchCustomer()"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
    <b>Speichern und zurück</b>
  </button>
  <button class="btn big btn-default" routerLink="/customers"><i class="fa fa-angle-double-left fa-2x"
                                                                 aria-hidden="true"></i> <b>Zurück</b>
  </button>
</div>


